.header-home {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 30px;
    margin-left: 20px;
    top: 3px;
}

.banner {
    background-image: url("images/header_home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    color: white;
    min-height: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 4);
}

.banner h2 {
    margin-top: 0 0 20px 0;
    color: yellow;
    font-size: 30px;
    padding-bottom: 15px;
}

.hosts-home img {
    height: 270px;
    margin-bottom: -10px;
}

.section-title {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.programs {
    padding: 25px 40px;
    background: #D9D9D9;
    display: flex;
    overflow-x: scroll;
}

.program-header {
    font-weight: bold;
}

.program-card-home {
    background: #EDEFF2;
    padding: 20px;
    padding-right: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
    margin-right: 25px;
    margin-left: 25px;
}

/* Profiles */
.header-profiles {
    background: url('images/profiles-main.png') center/cover no-repeat;
    height: 650px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 4);
}

.hosts-profile img {
    height: 30px;
    margin: 20px 0;
}

.banner-profiles {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: white;
    min-height: 250px;
}

.description {
    margin-bottom: 100px;
}

.description h1 {
    text-align: center; 
    padding-top: 50px;
    font-size: 50px;
}

.description p {
    text-align: center;
    padding: 45px 290px;
    font-weight: 350;
    font-size: 18px;
}

.profiles-page section {
    display: none;
}

.profiles-page section:target {
    display: block;
}

/* Right-side button in banner-profiles */
.banner-profiles .right-button {
    position: absolute;
    top: 50%;          /* vertically center */
    right: 390px;       /* distance from the right edge */
    transform: translateY(-50%);
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;       /* above images */
}

/* Right-side button in banner-profiles */
.banner-profiles .left-button {
    position: absolute;
    top: 50%;          /* vertically center */
    left: 390px;       /* distance from the right edge */
    transform: translateY(-50%);
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;       /* above images */
}

.profiles-page:not(:has(section:target)) #main, #main-description {
    display: block;
}

.hosts-profile section a {
    text-decoration: none;
}

/* Programs */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.intro-programs {
    color: #FFEC40;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    position: absolute;   
    top: 15px;           
    left: 15px;           
    height: 75px;         
    width: auto;          
    z-index: 10;          
}

.break-box {
    background-color: #454E57;
    height: 50px;
}

.header {
    background: url('images/header_photo.png') center/cover no-repeat;
    height: 350px;
    position: relative;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 4);
}

.header-overlay {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.header-overlay h1 {
    padding-top: 24px;
    font-size: 60px;
    font-weight:900;
    letter-spacing: -2px;
}

.header-overlay p {
    margin-top: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
}

.content {
    background: #E6E6E6;
    padding: 40px 60px;
    border-radius: 10px;
    margin: 25px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h2 {
    color: #991111;
    font-weight: 900;
    font-size: 26px;
}

.filter-btn {
    background: #535252;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
    word-spacing: 20px;
    font-weight: bold;
}

.program-list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.program-card {
    background: #CFCECE;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
}

.card-left {
    width: 40%;
}

.title-status {
    display: inline-flex;     
    align-items: center;      
    gap: 10px;               
}

.card-right {
    width: 55%;
    padding-right: 10px;
}

/* TEXT STYLES */
.title-status h3 {
    font-size: 20px;
    font-weight: 900;
     margin: 0;
}

.status {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.offline {
    background: #9A2020;
    color: white;
}

.schedule {
    font-weight: 500;
    padding-top: 5px;
}

.hosts {
    margin-top: 5px;
    font-size: 14px;
    color: #4a4a4a;
}

.card-right p {
    font-size: 14.5px;
    line-height: 1.6;
    color: #333;
}

.footer {
    background-color: #1C5186;
    margin-top: 75px;
    height: 75px;
    position: fixed;     /* fixes it relative to viewport */
    bottom: 0;           /* stick to bottom */
    left: 0;             /* align left */
    width: 100%;         /* full width */
    z-index: 100; 
}

.footer footer {
    color: white;
    text-align: right;
    padding-right: 25px;
    padding-top: 30px;
}

@media (max-width: 900px) {
    .program-card {
        flex-direction: column;
    }

    .card-left, .card-right {
        width: 100%;
    }

    .card-right {
        margin-top: 10px;
    }
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    margin-right: 30px;
    position: absolute;
    right: 0%;
    top: 20px;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 75px;
    right: 20px;
    width: 150px;
    background: white;
    border-radius: 5px;
    padding: 10px 0;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 99;
}

.dropdown-menu a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-align: center;
    font-weight: 501;
}

.dropdown-menu a:hover {
    background: #e0eefc;
}

#menu-toggle:checked~.dropdown-menu {
    display: block;
}

.listen {
    display: flex;
    justify-content: center;
}

.listen-button {
    width: 90%;
    max-width: 900px;
    padding: 25px 20px;
    background: #D9D9D9;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.listen-button:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
}

.listen-title {
    font-size: 26px;
    font-weight: 500;
    color: #1C5186;
    margin-bottom: 5px;
}

.listen-subtitle {
    font-size: 18px;
    color: #333;
}