/* News */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 75px;
    width: auto;
    z-index: 10;
}

.header {
    background: url("images/header_photo.png") center/cover no-repeat;
    height: 350px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 4);
}

.intro-news {
    color: #FFEC40;
    padding: 50px;
    padding-right: 50px;
}

.break-box {
    background-color: rgba(69, 78, 87, 1);
    height: 50px;
}

.featurednews {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: auto;
    padding-top: 30px;
}

@media (max-width:768px) {
    .featurednews {
        flex-direction: column;
        gap: 15px;
    }
}

.featurednews-image {
    width: 40%;
    height: auto;
    margin-left: 30px;
    border-radius: 10px;
    padding-left: 20px;
}

.featurednews-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.author-profile {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 1);
}

.news-content {
    width: 60%;
    max-width: 900px;
    height: auto;
    padding-left: 30px;
    padding-top: 20px;
}

.news-content p {
    padding: 5px 10px;
    font-size: 15px;
}

.news-content h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
}

.news-content h5 {
    padding-top: 15px;
    padding-right: 65px;
    font-size: 20px;
    font-weight: 200;
}

h4 {
    margin-top: 30px;
    margin-left: 25px;
    font-size: 30px;
}

.search-filter-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 0 30px;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 50%;
    height: 45px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 50px;
}

.search img {
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

.search input {
    background: none;
    width: 50%;
    height: 30px;
    font-size: 20px;
    border: none;
    outline: none;
}

.news-filter {
    background: rgba(255, 236, 64, 1);
    width: 10%;
    min-width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 30px;
}

.news-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 75px;
    padding-left: 30px;
}

.news-card {
    text-align: center;
    width: 20%;
    min-width: 350px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.news-card img {
    width: 305px;
    height: 305px;
    border-radius: 10px;
}

.news-card h6 {
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
}

.news-card p {
    font-size: 12px;
    text-align: justify;
}

.news-company {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.news-company p {
    font-size: 15px;
}

.ellipse {
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background-color: rgba(57, 57, 57, 1);
}

.author-category-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}

.author-category-section a {
    text-decoration: none;
}

.category-container {
    background-color: rgba(116, 114, 114, 1);
    padding: 5px 15px;
    width: auto;
    height: 15px;
    border-radius: 50px;
    color: white;
} 

#menu-toggle:checked~.dropdown-menu {
    display: block;
}

h4 {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 30px;
}

/* News - admin view */